<html lang="en">
    <%- include('./partial/head.ejs') %>
    <body>
        <%- include('./partial/nav.ejs')%>
        <h1>Hi from EJS</h1>
        <div class="bolgs content">
            <h2>All Blogs</h2>
            <% names.forEach(name=> {%>
                <h2>
                    <%= name.name %>
                </h2>
            <% }); %>

            <%= 'value' %>
        </div>
    </body>
</html>