<nav>
    <a href="/"><h1>My App</h1></a>
    <p>This is my App</p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/form">Form</a></li>
    </ul>
</nav>