<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav w-100 d-flex justify-content-around">
            <li class="nav-item <%= page === 'home' ? 'active' : ''; %>">
                <a class="nav-link" href="/home"><h3>Home</h3></a>
            </li>
            <li class="nav-item <%= page === 'history' ? 'active' : ''; %>">
                <a class="nav-link" href="/history"><h3>History</h3></a>
            </li>
            <li class="nav-item <%= page === 'users' ? 'active' : ''; %>">
                <a class="nav-link" href="/users"><h3>Users</h3></a>
            </li>
            <li class="nav-item <%= page === 'tags' ? 'active' : ''; %>">
                <a class="nav-link" href="/tags"><h3>Tags</h3></a>
            </li>
        </ul>
    </div>
</nav>